#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.p5 {
  --primary_color: #e60033;
  color: #e60033;
  background-color:#e60033 ;
  /* primary: #e60033; */
}
.p4 {
  --primary_color: #ffcc00;
  color: #ffcc00;
  background-color:#ffcc00 ;
  /* primary: #ffcc00; */
}
.p3 {
  --primary_color: #007acc;
  color: #007acc;
  background-color:#007acc ;
  /* primary: #007acc; */
}
.p6 {
  --primary_color: #166103;
  color: #166103;
  background-color:#166103 ;
  /* primary: #33ff00; */
}